{{>partial_header}}

import unittest

import {{packageName}}
from {{apiPackage}}.{{classFilename}} import {{classname}}  # noqa: E501
from {{packageName}}.api_client import ApiClient

class {{#operations}}Test{{classname}}(unittest.TestCase):
    """{{classname}} unit test stubs"""

    def setUp(self):
        self.api = {{classname}}(api_client=ApiClient())  # noqa: E501

    def tearDown(self):
        pass

   {{#operation}}
    def test_{{operationId}}(self):
        """Test case for {{{operationId}}}

{{#summary}}
        {{{.}}}  # noqa: E501
{{/summary}}
        """
        pass

   {{/operation}}
{{/operations}}

if __name__ == '__main__':
    unittest.main()
